<%= form_for(@guardian) do |f| %>
  <% if @guardian.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guardian.errors.count, "error") %> prohibited this guardian from being saved:</h2>

      <ul>
      <% @guardian.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :qualification %><br>
    <%= f.text_field :qualification %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :relation %><br>
    <%= f.text_field :relation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
