<p id="notice"><%= notice %></p>

<h1>Listing Guardians</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Qualification</th>
      <th>Student</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Relation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @guardians.each do |guardian| %>
      <tr>
        <td><%= guardian.name %></td>
        <td><%= guardian.email %></td>
        <td><%= guardian.qualification %></td>
        <td><%= guardian.student_id %></td>
        <td><%= guardian.address %></td>
        <td><%= guardian.contact %></td>
        <td><%= guardian.relation %></td>
        <td><%= link_to 'Show', guardian %></td>
        <td><%= link_to 'Edit', edit_guardian_path(guardian) %></td>
        <td><%= link_to 'Destroy', guardian, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Guardian', new_guardian_path %>
