<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @guardian.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guardian.email %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @guardian.qualification %>
</p>

<p>
  <strong>Student:</strong>
  <%= @guardian.student_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @guardian.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @guardian.contact %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @guardian.relation %>
</p>

<%= link_to 'Edit', edit_guardian_path(@guardian) %> |
<%= link_to 'Back', guardians_path %>
