<%= form_for(@employee_department) do |f| %>
  <% if @employee_department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_department.errors.count, "error") %> prohibited this employee_department from being saved:</h2>

      <ul>
      <% @employee_department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dept_code %><br>
    <%= f.text_field :dept_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
